.box-1 {
  background-color: black;
  height: 30rem;
}

.box-2 {
  background-color: black;
  height: 30rem;
  position: relative;
  top: 10rem;
  left: 0;
}

.back-test {
  background-image: url("img/background.jpeg");
  height: 75vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.background {
  height: 100;
  width: 100vw;
}

/* .top-box::after {
  content: "";
  background-image: url("img/background.jpeg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.background-img {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.top-box {
  height: 35rem;
  background-image: url("img/graduate-photo-hero.jpg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right 1rem bottom -26.75rem;
  background-attachment: fixed;
}

.hello-nolan {
  flex-basis: 50%;
  position: relative;
  background-color: white;
}

.personal-photo {
  height: 26rem;
  flex-basis: 50%;

  /* position: relative; */

  /* background-image: url("img/graduate-photo-hero.jpg"); */
}

.myself {
  height: 24rem;
  width: 20rem;
}

.about-me {
  padding: 0 6rem;
}

.nav-color {
  background: #212529;
  background: linear-gradient(left, #212529 0%, #b195ea 75%, #ebbef9 100%);
  background: linear-gradient(left, #212529 0%, #b195ea 75%, #ebbef9 100%);
  background: linear-gradient(to right, #212529 0%, #b195ea 75%, #ebbef9 100%);
}

.text-size {
  font-size: xx-large;
  font-weight: bold;
  height: ;
}

.tech-img {
  height: 3rem;
  width: 3rem;
  margin-bottom: 0.5rem;
}

.technologies {
  height: 45rem;
  padding-top: 0.75rem;
  background: #212529;
  background: linear-gradient(left, #212529 0%, #b195ea 75%, #ebbef9 100%);
  background: linear-gradient(left, #212529 0%, #b195ea 75%, #ebbef9 100%);
  background: linear-gradient(to right, #212529 0%, #b195ea 75%, #ebbef9 100%);
}

.tech-wrapper {
  background-color: white;
  height: 6rem;
  padding: 0.5rem;
  border-radius: 15%;
}

.ejs {
  width: 150px;
}

.node {
  width: 75px;
}

.resume {
  color: black !important;
}

.font-s {
  font-size: smaller;
}

@media screen and (max-width: 450px) {
  .about-me {
    padding: 0 2rem;
    width: 20rem;
  }

  .font-s {
    font-size: x-small;
  }

  .top-box {
    height: 27rem;
  }

  .download {
    display: none !important;
  }

  .technologies {
    height: 97rem;
  }

  .text-size {
    font-size: x-large;
    font-weight: bold;
  }

  .frontend {
    padding: 0 3rem;
  }

  .backend {
    padding: 0;
  }

  .tech-wrapper {
    margin: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .backend,
  .frontend {
    padding: 0 15rem;
  }
}
